@import 'css.css';
@import 'mixin.scss';
.br {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} //@extent 

.top {
    width: 100%;
    height: 78px;
    background: #FFF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    .con {
        width: 90%;
        height: 51px;
        margin: 0 auto;
        margin-top: 8px;
        .logo {
            width: 52px;
            height: 48px;
            background: url("../images/xuebitu.png") no-repeat;
            background-size: cover;
            float: left;
            text-align: center;
            margin-top: 8px;
        }
        .font {
            width: 182px;
            height: 36px;
            float: left;
            margin-top: 10px;
            line-height: 36px;
            text-align: center;
            margin-left: 100px;
            font-size: 25px;
            font-size: 2.5rem;
            color: #00305B;
        }
        .nav {
            width: 630px;
            height: 30px;
            float: right;
            margin-top: 14px;
            text-align: center;
            line-height: 30px;
        }
        .nav a {
            display: block;
            float: left;
            margin: 0 12px;
            color: #0F4C85;
            font-size: 14px;
            font-size: 1.4rem;
            &:hover {
                color: #41b7c4;
            }
        }
        .menu {
            display: none;
            float: right;
            .icons {
                font-size: 25px;
                font-size: 2.5rem;
                color: #0F4C85;
            }
        }
    }
}

.pic {
    width: 100%;
    height: 800px;
    background: rgba(6, 43, 82, 0.75);
    overflow: hidden;
    .deve {
        width: 700px;
        height: 200px;
        margin-top: 305px;
        margin-left: 210px;
        display: none;
        .span1 {
            font-size: 42px;
            font-size: 4.2rem;
            color: #FFF;
        }
        .span2 {
            margin-top: 40px;
            display: block;
            font-size: 18px;
            font-size: 1.8rem;
            color: #FFF;
        }
    }
}

.academic {
    width: 100%;
    height: 640px;
    background: #FFF;
    .left {
        width: 43%;
        height: 640px;
        float: left;
        background: #eaf4f6;
        .span {
            margin-top: 95px;
            margin-left: 190px;
            font-size: 42px;
            font-size: 4.2rem;
            color: #002e59;
            display: none;
        }
    }
    .right {
        width: 57%;
        height: 640px;
        float: right;
        .con {
            width: 580px;
            height: 495px;
            margin: 0 auto;
            margin-top: 75px;
            .first {
                width: 580px;
                height: 155px;
                display: none;
            }
            .second {
                width: 580px;
                height: 115px;
                margin-top: 35px;
                display: none;
            }
            .third {
                width: 580px;
                height: 155px;
                margin-top: 35px;
                display: none;
            }
            .title {
                width: 580px;
                height: 43px;
                margin-bottom: 18px;
                .square {
                    width: 10px;
                    height: 10px;
                    background: #41b7c4;
                    margin-top: 16px;
                    float: left;
                }
                span {
                    display: block;
                    float: left;
                    font-size: 20px;
                    font-size: 2rem;
                    margin-left: 14px;
                    line-height: 43px;
                    color: #00305b;
                }
                .c {
                    width: 40px;
                    height: 40px;
                    background: #2b6ca3;
                    float: left;
                    margin-left: 40px;
                    @extend .br;
                    a {
                        font-size: 16px;
                        font-size: 1.6rem;
                        width: 100%;
                        display: block;
                        color: #FFF;
                        text-align: center;
                        font-family: 'sans-serif';
                        font-weight: bolder;
                        line-height: 40px;
                    }
                }
            }
            p {
                width: 550px;
                height: auto;
                font-size: 14px;
                font-size: 1.4rem;
                color: #0f4c85;
                margin-left: 20px;
            }
        }
    }
}

.server {
    width: 100%;
    height: 800px;
    overflow: hidden;
    background: #00305b;
    .tit {
        display: none;
        width: 170px;
        height: 50px;
        font-size: 42px;
        font-size: 4.2rem;
        margin: 0 auto;
        color: #fff;
        font-weight: bolder;
        margin-top: 105px;
    }
    .con {
        width: 900px;
        height: 550px;
        margin: 0 auto;
        margin-top: 30px;
        background-color: rgba(234, 244, 246, 1);
        overflow: hidden;
        display: none;
        .first {
            width: 745px;
            height: 112px;
            margin: 0 auto;
            margin-top: 55px;
        }
        .second {
            width: 745px;
            height: 115px;
            margin: 0 auto;
            margin-top: 40px;
        }
        .third {
            width: 745px;
            height: 100px;
            margin: 0 auto;
            margin-top: 40px;
        }
        .title {
            width: 745px;
            height: 43px;
            margin-bottom: 18px;
            .square {
                width: 10px;
                height: 10px;
                background: #41b7c4;
                margin-top: 16px;
                float: left;
            }
            .span {
                float: left;
                font-size: 20px;
                font-size: 2rem;
                margin-left: 14px;
                line-height: 43px;
                color: #00305b;
            }
            .c {
                width: 40px;
                height: 40px;
                background: #2b6ca3;
                float: left;
                margin-left: 40px;
                @extend .br;
                a {
                    font-size: 16px;
                    font-size: 1.6rem;
                    width: 100%;
                    display: block;
                    color: #FFF;
                    text-align: center;
                    font-family: 'sans-serif';
                    font-weight: bolder;
                    line-height: 40px;
                }
            }
        }
        p {
            width: 745px;
            height: auto;
            font-size: 14px;
            font-size: 1.4rem;
            color: #0f4c85;
            margin-left: 20px;
        }
    }
}

.bgpic {
    width: 100%;
    height: 415px;
    background: url("../images/bg1.jpg") center center no-repeat;
    position: relative;
    top: 0;
    left: 0;
}

.zhao {
    width: 100%;
    height: 415px;
    position: relative;
    background: rgba(6, 43, 82, 0.3);
}

.resource {
    width: 100%;
    height: 796px;
    background-color: rgba(234, 244, 246, 1);
    overflow: hidden;
    .con {
        width: 892px;
        height: 755px;
        display: none;
        margin: 0 auto;
        border-left: 2px solid #bdd9ef;
        .tit {
            width: 170px;
            height: 50px;
            font-size: 42px;
            font-size: 4.2rem;
            margin: 0 auto;
            color: #00305b;
            font-weight: bolder;
            padding-top: 115px;
        }
        .font {
            width: 892px;
            height: 480px;
            float: right;
            margin-top: 46px;
            .c1 {
                @include br1(0);
            }
            .c1:hover {
                @include br2(0);
            }
            .c2 {
                @include br1;
            }
            .c2:hover {
                @include br2;
            }
            .c3 {
                @include br1(37px);
            }
            .c3:hover {
                @include br2(37px);
            }
            .c4 {
                @include br1(37px);
            }
            .c4:hover {
                @include br2(37px);
            }
            .one {
                width: 838px;
                height: 55px;
                margin-left: 50px;
                .left {
                    width: 170px;
                    height: auto;
                    float: left;
                    text-align: center;
                    .span1 {
                        font-size: 20px;
                        font-size: 2rem;
                        color: #00305b;
                        text-align: center;
                    }
                    .span2 {
                        font-size: 16px;
                        font-size: 1.6rem;
                        color: #377dbd;
                        text-align: center;
                    }
                }
                p {
                    width: 608px;
                    height: 50px;
                    float: left;
                    margin-left: 50px;
                    color: #00305b;
                    font-size: 16px;
                    font-size: 1.6rem;
                }
            }
            .two {
                width: 838px;
                height: 90px;
                margin-top: 20px;
                margin-left: 50px;
                .left {
                    width: 170px;
                    height: auto;
                    float: left;
                    text-align: center;
                    .span1 {
                        font-size: 20px;
                        font-size: 2rem;
                        color: #00305b;
                        text-align: center;
                    }
                    .span2 {
                        font-size: 16px;
                        font-size: 1.6rem;
                        color: #377dbd;
                        text-align: center;
                    }
                }
                p {
                    width: 608px;
                    height: 50px;
                    float: left;
                    margin-left: 50px;
                    color: #00305b;
                    font-size: 16px;
                    font-size: 1.6rem;
                }
            }
            .three {
                width: 838px;
                height: 110px;
                margin-left: 50px;
                margin-top: 35px;
                .left {
                    width: 170px;
                    height: auto;
                    float: left;
                    text-align: center;
                    .span1 {
                        font-size: 20px;
                        font-size: 2rem;
                        color: #00305b;
                        text-align: center;
                    }
                    .span2 {
                        font-size: 16px;
                        font-size: 1.6rem;
                        color: #377dbd;
                        text-align: center;
                    }
                }
                p {
                    width: 608px;
                    height: 50px;
                    float: left;
                    margin-left: 50px;
                    color: #00305b;
                    font-size: 16px;
                    font-size: 1.6rem;
                }
            }
            .four {
                width: 838px;
                height: 140px;
                margin-left: 50px;
                margin-top: 35px;
                .left {
                    width: 170px;
                    height: auto;
                    float: left;
                    text-align: center;
                    .span1 {
                        font-size: 20px;
                        font-size: 2rem;
                        color: #00305b;
                        text-align: center;
                    }
                    .span2 {
                        font-size: 16px;
                        font-size: 1.6rem;
                        color: #377dbd;
                        text-align: center;
                    }
                }
                p {
                    width: 608px;
                    height: 50px;
                    float: left;
                    margin-left: 50px;
                    color: #00305b;
                    font-size: 16px;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.company {
    width: 100%;
    height: 732px;
    background: url("../images/bg2.jpg") center top no-repeat;
    background-size: cover;
    .left {
        width: 43%;
        height: 732px;
        float: left;
        background-color: rgba(0, 42, 79, 0.9);
        .font {
            width: 350px;
            height: auto;
            margin-top: 140px;
            margin-left: 170px;
            display: none;
            span {
                font-size: 42px;
                font-size: 4.2rem;
                color: #fff;
            }
        }
    }
    .right {
        width: 57%;
        height: 732px;
        float: right;
        background-color: rgba(17, 88, 146, 0.75);
        ul {
            width: 390px;
            height: auto;
            display: none;
            margin-left: 140px;
            margin-top: 130px;
            color: #fff;
            .li1 {
                font-size: 20px;
                font-size: 2rem;
            }
            .li2 {
                margin-top: 35px;
                font-size: 16px;
                font-size: 1.6rem;
                a {
                    color: #fff;
                }
            }
            .li3 {
                color: #90d1d8;
                margin-top: 30px;
                font-size: 18px;
                font-size: 1.8rem;
            }
        }
        .pic3 {
            width: 300px;
            height: 35px;
            margin-top: 270px;
            margin-left: 140px;
            display: none;
        }
    }
}

.back {
    width: 100%;
    height: 79px;
    background: #00305b;
    overflow: hidden;
    .iconsb {
        width: 25px;
        height: 25px;
        margin: 0 auto;
        background: url("../images/xuebitu.png") no-repeat;
        background-position: -265px 0;
        margin-top: 17px;
        cursor: pointer;
    }
    .fontb {
        width: 110px;
        height: auto;
        color: #FFF;
        font-size: 16px;
        font-size: 1.6rem;
        margin: 0 auto;
        cursor: pointer;
    }
}
.label {
    width: 100%;
    height: 110px;
    .op {
        width: 100%;
        height: 110px;
        background: rgba(0, 48, 91, 0.25);
        overflow: hidden;
        span {
            display: block;
            text-align: center;
            margin: 25px auto;
            color: #71777b;
            font-size: 14px;
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width:970px) {
    .top {
        width: 100%;
        height: 78px;
        background: #FFF;
        position: fixed;
        left: 0;
        top: 0;
        .con {
            width: 90%;
            height: 61px;
            margin: 0 auto;
            margin-top: 8px;
            .font {
                width: 65%;
                height: 36px;
                margin-left: 1px;
            }
            .menu {
                width: 15%;
                display: block;
                line-height: 50px;
                float: right;
                .icons {
                    font-size: 25px;
                    font-size: 2.5rem;
                }
            }
            .menu.h + .nav {
                display: none;
            }
            .nav {
                width: 100%;
                height: auto;
                position: absolute;
                top: 64px;
                right: 0;
                text-align: center;
                line-height: 30px;
            }
            .nav a {
                display: block;
                width: 100%;
                height: auto;
                background: #fff;
                color: #0F4C85;
                font-size: 14px;
                margin-left: 0;
                font-size: 1.4rem;
                &:hover {
                    color: #41b7c4;
                }
            }
        }
    }
    .pic {
        width: 100%;
        height: auto;
        background: rgba(6, 43, 82, 0.34);
        padding-bottom: 50px;
        .deve {
            width: 100%;
            height: auto;
            margin-left: 15px;
            margin-top: 130px;
            display: block;
            .span2 {
                margin-top: 40px;
                display: block;
                color: #FFF;
            }
        }
    }
    .academic {
        width: 100%;
        height: auto;
        overflow: hidden;
        .left {
            width: 100%;
            height: auto;
            .span {
                margin-top: 30px;
                margin-bottom: 10px;
                margin-left: 20px;
                display: block;
            }
        }
        .right {
            width: 100%;
            height: auto;
            .con {
                width: 90%;
                height: auto;
                margin: 0 auto;
                margin-top: 30px;
                .first {
                    width: 100%;
                    height: auto;
                    display: block;
                }
                .second {
                    width: 100%;
                    height: auto;
                    margin-top: 25px;
                    display: block;
                }
                .third {
                    width: 100%;
                    height: auto;
                    margin-top: 25px;
                    display: block;
                }
                .title {
                    width: 100%;
                    margin-bottom: 18px;
                    .square {
                        width: 10px;
                        height: 10px;
                    }
                    span {
                        display: block;
                    }
                    a {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }
                p {
                    width: 90%;
                    height: auto;
                    margin-left: 20px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .server {
        width: 100%;
        height: auto;
        padding-top: 20px;
        background: #00305b;
        .tit {
            width: 170px;;
            height: auto;
            margin: 0 auto;
            margin-top: 20px;
            display: block;
        }
        .con {
            width: 90%;
            height: auto;
            margin: 0 auto;
            padding-left: 10px;
            margin-top: 30px;
            display: block;
            .first {
                width: 100%;
                height: auto;
                margin: 0 auto;
                margin-top: 20px;
            }
            .second {
                width: 100%;
                height: auto;
                margin: 0 auto;
                margin-top: 20px;
            }
            .third {
                width: 100%;
                height: auto;
                margin: 0 auto;
                margin-top: 20px;
            }
            .title {
                width: 100%;
                height: 43px;
                margin-bottom: 18px;
                .square {
                    width: 10px;
                    height: 10px;
                    margin-top: 16px;
                }
                span {
                    float: left;
                    margin-left: 14px;
                }
                .c {
                    ;
                    margin-left: 40px;
                    a {
                        width: 100%;
                    }
                }
            }
            p {
                width: 90%;
                height: auto;
                margin-left: 20px;
                padding-bottom: 5px;
            }
        }
    }
    .zhao {
        width: 100%;
        height: 30%;
    }
    .resource {
        width: 100%;
        height: auto;
        overflow: hidden;
        .con {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
            .tit {
                width: 170px;
                height: auto;
                padding-top: 40px;
                margin: 0 auto;
            }
            .font {
                width: 100%;
                height: auto;
                margin-top: 46px;
                .c1 {
                    margin-left: 44%;
                }
                .c1:hover {
                    margin-left: 44%;
                }
                .c2 {
                    margin-left: 44%;
                }
                .c2:hover {
                    margin-left: 44%;
                }
                .c3 {
                    margin-left: 44%;
                }
                .c3:hover {
                    margin-left: 44%;
                }
                .c4 {
                    margin-left: 44%;
                }
                .c4:hover {
                    margin-left: 44%;
                }
                .one {
                    width: 100%;
                    height: auto;
                    margin: 20px;
                    .left {
                        width: 90%;
                        height: auto;
                        margin: 10px auto;
                    }
                    p {
                        width: 90%;
                        height: auto;
                        margin: 0 auto;
                    }
                }
                .two {
                    width: 100%;
                    height: auto;
                    margin: 20px;
                    .left {
                        width: 90%;
                        height: auto;
                        margin: 10px auto;
                    }
                    p {
                        width: 90%;
                        height: auto;
                        margin: 0 auto;
                    }
                }
                .three {
                    width: 100%;
                    height: auto;
                    margin: 20px;
                    .left {
                        width: 90%;
                        height: auto;
                        margin: 10px auto;
                    }
                    p {
                        width: 90%;
                        height: auto;
                        margin: 0 auto;
                    }
                }
                .four {
                    width: 100%;
                    height: auto;
                    margin: 10px;
                    .left {
                        width: 90%;
                        height: auto;
                        margin: 10px auto;
                    }
                    p {
                        width: 90%;
                        height: auto;
                        margin: 0 auto;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
    .company {
        width: 100%;
        height: 100%;
        .left {
            width: 100%;
            height: 45%;
            .font {
                width: 90%;
                height: auto;
                padding-bottom: 15px;
                margin-top: 30px;
                margin-left: 20px;
                display: block;
            }
        }
        .right {
            width: 100%;
            height: 55%;
            ul {
                width: 90%;
                height: auto;
                display: block;
                margin-left: 20px;
                margin-top: 20px;
                .li2 {
                    margin-top: 30px;
                }
            }
            .pic3 {
                width: 80%;
                height: auto;
                margin-top: 10px;
                margin-left: 20px;
                display: block;
            }
        }
    }
.back{
    width: 50px;
    height: 40px;
    padding-top: 10px;
    border-radius: 15px;
    background: #00305b;
    position: fixed;
    right: 10px;
    bottom: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: none;
        .iconsb {
        width: 30px;
        height: 30px;
        margin: 8px auto;
        background: url("../images/xuebitu.png") no-repeat;
        background-position: -265px 0;
        cursor: pointer;
    }
    .fontb{
        display: none;
    }

}
    .label {
        width: 100%;
        height: auto;
        .op {
            width: 100%;
            height: auto;
            padding: 30px auto;
        }
    }
}